body{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
form#conversionProgram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
}